// COLORS
$yellow: #f4d04e;
$gray950: #111111;
$gray500: #6b6b6b;
$white: #ffffff;

// FONTS
$figtree: "Figtree", system-ui, sans-serif;

// SPACING
$spacing-lg: 2.4rem;
$spacing-med: 1.2rem;
$spacing-sm: 0.8rem;
$spacing-xs: 0.4rem;

// RESPONSIVE BREAKPOINTS
$bp-mobile: 23.4375em; // 375px

// MIXINS
@mixin textPreset() {
  line-height: 1.5;
}

@mixin textPreset1Bold() {
  @include textPreset();
  font-weight: 800;
  font-size: 2.4rem;
}

@mixin textPreset2Medium() {
  @include textPreset();
  font-weight: 500;
  font-size: 1.6rem;
}

@mixin textPreset3Medium() {
  @include textPreset();
  font-weight: 500;
  font-size: 1.4rem;
}

@mixin textPreset3Bold() {
  @include textPreset();
  font-weight: 800;
  font-size: 1.4rem;
}
