@use "@/app/_styles/variables" as *;

.card {
  background-color: $white;
  padding: $spacing-lg;
  border-radius: 2rem;
  margin: $spacing-lg;
  border: 1px $gray950 solid;
  box-shadow: $spacing-sm $spacing-sm 0 0 $gray950;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  row-gap: $spacing-lg;
}
