@use "@/app/_styles/variables" as *;

.attribution {
  background-color: $gray950;
  color: $yellow;
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem;

  a {
    color: $white;
    transition: all 0.3s ease-in;

    &:hover {
      color: $gray500;
    }
  }
}
